/*

index.css
----------------------
designed to be used by all pages to ensure all general styles are consistant across pages

*/


/* import roboto because roboto is the best sans serif font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

html, body {
	/* color pallete variables */
	--white: #F0F7F4;
	--grey: #959797;
	--light-grey: #d6d6d6;
	--blue: #016FB9;
	--dark-blue: #00548c;
	--orange: #F5A65B;
	--dark-orange: #bd7f46;
	--black: #001011;
	
	/* no scrolling */
    height: 100%;

	/* margin stuff */
	margin: 0;
	padding: 0;

	/* font */
	font-family: "Roboto", sans-serif;
	
	/* main background for all pages */
	background-color: var(--white);

	/* remove scroll */
	overflow: hidden;

	/* dark mode transition */
	transition: background-color 0.3s ease-out;
}

/* reverse some color variables for when dark mode is on */
.dark-mode {
	--white: #001011;
	--grey: #404547;
	--light-grey: #363636;
	--black: #F0F7F4;
}

/* title */
h1 {
	text-align: center;
	font-size: 40pt;
	color: var(--black);

	/* dark mode transition */
	transition: color 0.3s ease-out;
}

/* svg positioning */
.moon {
	position: absolute;
	top: 0.8em;
	left: 1vw;
	width: 2vw;
	height: 2vw;
	max-height: 40px;
	max-width: 40px;
}

/* darkmode toggle switch styles */
input[type="checkbox"] {
	/* literally get rid of the switch appearence entirely */
	-webkit-appearance: none;
	/* positioning */
	position: absolute;
	top: 1em;
	left: 4vw;
	width: 4vw;
	height: 1.5vw;
	max-height: 30px;
	max-width: 80px;
	/* background color */
	background-color: var(--light-grey);
	/* curved border to make oval */
	border-radius: 20px;
	/* transition the color */
	transition: background-color 0.3s ease-out;
}

/* adds the circle to the switch */
input[type="checkbox"]::before {
	/* no content */
	content: "";
	/* position far left of switch */
	position: absolute;
	left: 0;
	width: 1.5vw;
	height: 1.5vw;
	max-width: 33px;
	max-height: 33px;
	/* set color */
	background-color: var(--grey);
	/* make it a circle */
	border-radius: 1vw;
	/* scale a little bit to add *depth* */
	transform: scale(1.1);
	/* transition the background color as well as the left for when it moves */
	transition: background-color 0.3s ease-out, left 0.3s ease-out;
}

/* the content before the checkbox when it is checked */
input:checked[type="checkbox"]::before {
	/* calculate where to put the circle depending if its at it's max width or not */
	left: min(calc(4vw -  1.5vw), 80px - 33px);
}

/* make footer wider */
footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 0;
}

/* the p in the footer */
footer > p {
	 color: var(--grey);
	text-align: center;
}

/* remove dots on list */
.footer-list {
	list-style-type: none;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	/* overide default padding */
	padding: 0;
}

/* list items  */
.footer-list > li {
	/* set text color to be grey cause this is a footer and it should be *sleek* */
	color: var(--grey);
	/* make them in a row instead of column */
	float: left;
	margin: 0em 1em;
}

.footer-list > li > a, footer > p > a, .back-home > a {
	/* take color from parent instead of a tag default */
	color: inherit;
	/* make underline not so close */
	text-underline-offset: 0.25em;
	/* make cursor do click thing */
	cursor: pointer;
}

/* move back home link to the bottom */
.back-home {
	position: absolute;
	left: 1em;
	bottom: 0.5em;
}

/* easy class to hide things */
.hidden {
	display: none !important; /* use !important to override ids etc. */
}