/* sub heading */
h2 {
	/* color */
	color: var(--black);
	/* transition */
	transition: color 0.3s ease-out;
	/* center */
	text-align: center;
	/* move up a little */
	margin-top: -1em;
}

/* flexbox supremecy */
.button-container {
	display: flex;
	justify-content: center;
	align-content: center;
}

.leave-button {
	/* make the buttons bigger */
	height: 2em;
	width: 150px;
	/* remove border */
	border: none;
	/* curve edges */
	border-radius: 10px;
	/* set background */
	background-color: var(--orange);
	/* text color */
	color: white;
	/* font weight */
	font-weight: 700;
	/* font size */
	font-size: 1.25em;
	/* transition setup */
	transition: all 0.3s ease-out;
	/* cursor behavior */
	cursor: pointer;
}

/* on hover make it darker */
.leave-button:hover {
	background-color: var(--dark-orange);
}

/* big flex box container that is semi transparent and takes up whole screen in front of everything else */
#confirmation {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

/* card */
.card {
	/* more flexbox */
	display: flex;
	/* vertical flex */
	flex-direction: column;
	/* padding */
	padding: 5vh 5vw;
	/* curvy */
	border-radius: 2.5vh;
	/* color */
	background-color: var(--light-grey)
}

#confirm-stay {
	/* make the buttons bigger */
	height: 3em;
	width: 190px;
	margin: 0 1em;
	/* remove border */
	border: none;
	/* curve edges */
	border-radius: 10px;
	/* set background */
	background-color: #ed7b88;
	/* text color */
	color: white;
	/* font weight */
	font-weight: 700;
	/* font size */
	font-size: 1.05em;
	/* transition setup */
	transition: all 0.3s ease-out;
	/* cursor behavior */
	cursor: pointer;
}

/* text is black varible and big */
.card > p {
	color: var(--black);
	font-size: 2em;
	font-weight: 700;
}

#confirm-leave {
	/* make the buttons bigger */
	height: 3em;
	width: 190px;
	margin: 0 1em;
	/* remove border */
	border: none;
	/* curve edges */
	border-radius: 10px;
	/* set background */
	background-color: #62cc62;
	/* text color */
	color: white;
	/* font weight */
	font-weight: 700;
	/* font size */
	font-size: 1.05em;
	/* transition setup */
	transition: all 0.3s ease-out;
	/* cursor behavior */
	cursor: pointer;
}

/* its the button container but for inputs */
.input-container {
	margin-top: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* input box */
input[type="text"] {
	/* border */
	border: var(--light-grey) solid 2px;
	/* curvy */
	border-radius: 5px;
	/* use the right font */
	font: inherit;
	/* big text */
	font-weight: 700;
	font-size: 1.25em;
	/* center text */
	text-align: center;
	/* padding */
	padding: 10px;
	/* more margin */
	margin-bottom: 1em;
	/* remove default outline */
	outline: none;
	/* transition all the things */
	transition: outline 0.3s ease-out, border-color 0.5s ease-out;
}

/* make the placeholder text lighter */
input[type="text"]::placeholder {
	color: var(--light-grey);
	transition: color 0.3s ease-out;
}

/* when the input is focused remove placeholder text */ 
input[type="text"]:focus::placeholder {
	color: transparent;
}

/* change border on focus */
input[type="text"]:focus {
	border-color: var(--blue);
}

/* dark mode outline, idk whats happening */
.dark-mode > main > div > div > input[type="text"]:focus {
	border-color: var(--orange);
}

#join-queue-button {
	/* make the buttons bigger */
	height: 2em;
	width: 190px;
	margin: 1em 1em;
	/* remove border */
	border: none;
	/* curve edges */
	border-radius: 10px;
	/* set background */
	background-color: #62cc62;
	/* text color */
	color: white;
	/* font weight */
	font-weight: 700;
	/* font size */
	font-size: 1.25em;
	/* transition setup */
	transition: all 0.3s ease-out;
	/* cursor behavior */
	cursor: pointer;
}

/* make color darker on hover */
#join-queue-button:hover {
	background-color: #3f9c3f;
}

/* color shadow and size for confirm title */
.confirm-title {
	color: lightgreen;
	text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);
	font-size: 5em;
}

#error {
	color: red;
	margin-top: 0.5em;
	display: none;
}