h2 {
	color: var(--black);
	transition: color 0.3s ease-out;
	text-align: center;
	margin-top: -1em;
}

.button-container {
	display: flex;
	justify-content: center;
	align-content: center;
}

.leave-button {
	/* make the buttons bigger */
	height: 2em;
	width: 150px;
	/* remove border */
	border: none;
	/* curve edges */
	border-radius: 10px;
	/* set background */
	background-color: var(--orange);
	/* text color */
	color: white;
	/* font weight */
	font-weight: 700;
	/* font size */
	font-size: 1.25em;
	/* transition setup */
	transition: all 0.3s ease-out;
	/* cursor behavior */
	cursor: pointer;
}

.leave-button:hover {
	background-color: var(--dark-orange);
}

#confirmation {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

.card {
	display: flex;
	flex-direction: column;
	padding: 5vh 5vw;
	border-radius: 2.5vh;
	background-color: var(--light-grey)
}

#confirm-stay {
	/* make the buttons bigger */
	height: 3em;
	width: 190px;
	margin: 0 1em;
	/* remove border */
	border: none;
	/* curve edges */
	border-radius: 10px;
	/* set background */
	background-color: #ed7b88;
	/* text color */
	color: white;
	/* font weight */
	font-weight: 700;
	/* font size */
	font-size: 1.05em;
	/* transition setup */
	transition: all 0.3s ease-out;
	/* cursor behavior */
	cursor: pointer;
}

.card > p {
	color: var(--black);
	font-size: 2em;
	font-weight: 700;
}

#confirm-leave {
	/* make the buttons bigger */
	height: 3em;
	width: 190px;
	margin: 0 1em;
	/* remove border */
	border: none;
	/* curve edges */
	border-radius: 10px;
	/* set background */
	background-color: #62cc62;
	/* text color */
	color: white;
	/* font weight */
	font-weight: 700;
	/* font size */
	font-size: 1.05em;
	/* transition setup */
	transition: all 0.3s ease-out;
	/* cursor behavior */
	cursor: pointer;
}

.input-container {
	margin-top: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input[type="text"] {
	border: var(--light-grey) solid 2px;
	border-radius: 5px;
	transition: outline 0.3s ease-out, border 0.5s ease-out;
	font: inherit;
	font-weight: 700;
	font-size: 1.25em;
	text-align: center;
	padding: 10px;
	margin-bottom: 1em;
	outline: none;
}

input[type="text"]::placeholder {
	color: var(--light-grey);
	transition: color 0.3s ease-out;
}

input[type="text"]:focus::placeholder {
	color: transparent;
}

input[type="text"]:focus {
	outline: var(--blue) solid 3px;
	border-radius: 3px;
	border: none;
}

/* dark mode outline why */
.dark-mode > main > div > div > input[type="text"]:focus {
	outline: var(--orange) solid 3px;
}

#join-queue-button {
	/* make the buttons bigger */
	height: 2em;
	width: 190px;
	margin: 1em 1em;
	/* remove border */
	border: none;
	/* curve edges */
	border-radius: 10px;
	/* set background */
	background-color: #62cc62;
	/* text color */
	color: white;
	/* font weight */
	font-weight: 700;
	/* font size */
	font-size: 1.25em;
	/* transition setup */
	transition: all 0.3s ease-out;
	/* cursor behavior */
	cursor: pointer;
}

#join-queue-button:hover {
	background-color: #3f9c3f;
}

.confirm-title {
	color: lightgreen;
	text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);
	font-size: 5em;
}